.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    max-width: 400px;
}
.display{
    grid-column: span 4;
    height: 25px;
    background-color: black;
    color: white;
}
.button{
    height:25px;
    margin: 3px;
    border-radius: 4px;
    margin: 1px;
    border: 1px solid;
    font-size: 15px;
}

.button:hover{
    color: rgb(183, 183, 183);
}

.button.operators{
    grid-column: span 2;
}
